<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students table</title>
</head>
<body>
  <h1>Student Table</h1>
  <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for key in dictionary %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{dictionary[key]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>